/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #020617;
}

.invisTrack::-webkit-scrollbar-track {
  background: #020617;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2dd4bf;
  border-radius: 5px;
}
.invisTrack::-webkit-scrollbar-thumb {
  background: #2dd4bf;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #14b8a6;
}
.invisTrack::-webkit-scrollbar-thumb:hover {
  background: #14b8a6;
}
/* scrollbar */

/* animations */
/* scroll down btn */
.scrollWrap:hover .arrow {
  animation: slideDown 2s ease-in-out;
  color: white;
  transition: opacity 2s;
  opacity: 0;
}

.arrowDelay,
.arrowDelaySecond {
  position: absolute;
  opacity: 0;
}

.arrow {
  transition: opacity 0s;
}

.scrollWrap:hover .arrowDelay {
  animation: slideDownSecond 2s ease-in-out infinite;
  animation-delay: 1s;
  color: white;
}
.scrollWrap:hover .arrowDelaySecond {
  animation: slideDownSecond 2s ease-in-out infinite;
  animation-delay: 2s;
  color: white;
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

@keyframes slideDownSecond {
  0% {
    opacity: 0;
    transform: translateY(-90px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

/* contact btn */


/* animations */
