/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .textSecondary {
    @apply text-teal-700 dark:text-teal-400;
  }
  .textTertiary {
    @apply text-slate-800 dark:text-slate-300;
  }
  .btnPrimary {
    @apply rounded-lg  bg-teal-400 py-3 font-semibold text-slate-950 duration-300 active:bg-teal-400 sm:hover:bg-teal-300;
  }
  .btnSecondary {
    @apply block rounded-full border-2 border-teal-700 px-6 py-2  font-semibold duration-300   active:text-teal-800 dark:border-teal-400 dark:active:text-teal-400 sm:hover:text-teal-600 dark:sm:hover:text-teal-200;
  }
  .btnTertiary {
    @apply font-semibold   duration-300 active:text-teal-700 dark:active:text-teal-400 sm:hover:text-teal-600 dark:sm:hover:text-teal-200;
  }
}

.backgroundGrid:before {
  position: absolute;
  opacity: 0.1;
  height: 90vh;
  width: 100%;
  background-repeat: repeat;
  overflow: hidden;
  content: "";
  background-size: 20px 20px;
  background-image: linear-gradient(to right, rgb(35 38 45) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(35 38 45) 1px, transparent 1px);
  -webkit-mask-image: linear-gradient(to bottom, white 40%, transparent 100%);
  mask-image: linear-gradient(to bottom, white 40%, transparent 100%);

  z-index: -1;
}

.dark .backgroundGrid:before {
  position: absolute;
  opacity: 0.4;
  height: 90vh;
  width: 100%;
  background-repeat: repeat;
  overflow: hidden;
  content: "";
  background-size: 20px 20px;
  background-image: linear-gradient(to right, rgb(35 38 45) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(35 38 45) 1px, transparent 1px);
  -webkit-mask-image: linear-gradient(to bottom, white 40%, transparent 100%);
  mask-image: linear-gradient(to bottom, white 40%, transparent 100%);

  z-index: -1;
}

.blob:after {
  position: absolute;
  content: "";
  height: 50vw;
  width: 100vw;
  opacity: 0;
  overflow: hidden;

  transform: translateY(-50px);
  right: -60vw;
  background: linear-gradient(247.23deg, #2dd4bf 0%, #3a5edf 100%);
  background-blend-mode: overlay;
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 65%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 65%);
  z-index: -1;
}

.dark .blob:after {
  position: absolute;
  content: "";
  height: 50vw;
  width: 100vw;
  opacity: 0.7;
  overflow: hidden;

  transform: translateY(-50px);
  right: -60vw;
  background: linear-gradient(247.23deg, #2dd4bf 0%, #3a5edf 100%);
  background-blend-mode: overlay;
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 65%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 65%);
  z-index: -1;
}

/* toast styling */
.Toastify__toast {
  border-radius: 8px !important;

  background: #0f172a !important;
  border: 1px solid #334155 !important;
}
:root {
  --toastify-color-dark: #0f172a !important;
  --toastify-color-success: #2dd4bf !important;
}
/* toast styling */

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #020617;
}

.invisTrack::-webkit-scrollbar-track {
  background: #020617;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2dd4bf;
  border-radius: 5px;
}
.invisTrack::-webkit-scrollbar-thumb {
  background: #2dd4bf;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #14b8a6;
}
.invisTrack::-webkit-scrollbar-thumb:hover {
  background: #14b8a6;
}
/* scrollbar */

/* animations */
/* scroll down btn */
.scrollWrap:hover .arrow {
  animation: slideDown 2s ease-in-out;
  transition: opacity 2s;
  opacity: 0;
}

.arrowDelay,
.arrowDelaySecond {
  position: absolute;
  opacity: 0;
}

.arrow {
  transition: opacity 0s;
}

.scrollWrap:hover .arrowDelay {
  animation: slideDownSecond 2s ease-in-out infinite;
  animation-delay: 1s;
}
.scrollWrap:hover .arrowDelaySecond {
  animation: slideDownSecond 2s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes slideDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

@keyframes slideDownSecond {
  0% {
    opacity: 0;
    transform: translateY(-120px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

/* contact btn */



/* card animations */


/* h1 animation */

.dark .waveText {
  animation-name: waveDark;
  color: rgb(45 212 191);
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes waveDark {
  0%,
  100% {
    color: #2dd4bf;
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
    color: #818cf8;
  }
  30% {
    transform: translateY(0);
  }
  50% {
    color: #38bdf8;
  }
}
.waveText {
  animation-name: wave;
  color: rgb(45 212 191);
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes wave {
  0%,
  100% {
    color: #0f766e;
  }
  10% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
    color: #0369a1;
  }
  30% {
    transform: translateY(0);
  }
  50% {
    color: #4338ca;
  }
}

/* animations */
